<h2>Administratorzy</h2>

<table>
  <thead>
    <tr>
      <th>Nazwa użytkownika</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.username %></td>
        <td><%= admin.email %></td>
        <td><%= link_to 'Pokaż', admin %></td>
        <td><%= link_to 'Edytuj', edit_admin_path(admin) %></td>
        <td><%= link_to 'Usuń', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj administratora', new_admin_path %>
