<h2><%=@post.title%></h2>
<p><%if @post.image.exists?%>
    <%= image_tag @post.image.url%>
<%end%></p>
<h3>Opis</h3>
<p><%=@post.description%></p>
<p>Sala: <%=@post.classroom%></p>
<p>Autor: <%=@post.made_by%></p>
<p>Data dodania: <%=@post.created_at%></p>
<%=link_to 'Usuń',post_path(@post), 
    method: :delete,
    data: {Confirm: 'Napewno?'}%>

