<h2><%=@post.title%></h2>
<h3>Tu Będzie Obrazek</h3>
<h3>Opis</h3>
<p><%=@post.description%></p>
<p>Sala: <%=@post.classroom%></p>
<p>Autor: <%=@post.made_by%></p>
<p>Data dodania: <%=@post.created_at%></p>

