<!DOCTYPE html>
<html>
  <head>
    <title>Tytuł</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Biuro rzeczy znalezionych</h1>
    <%= yield %>
    <br>
    <%if logged_in?%>
      <%="logged in"%>
      <%=link_to "Wyloguj się", logout_path%>
    <%else%>
      <%=link_to "Zaloguj się", login_path%>
    <%end%>
  </body>
</html>
